* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: gray;
  color: black;
  height: 50px;
  font-size: 2rem;
  margin-top: 3rem;
}

.news-list ul {
  display: block;
  flex-wrap: wrap;
}

.news-list ul li {
  list-style: none;
}

.single-new {
  justify-content: center;
  align-items: center;
  width: 500px;
  border-radius: 10px;
  margin: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
}

.single-new img {
  margin-bottom: 20px;
  width: 400px;
}

.journal-title {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.single-new p {
  margin-bottom: 20px;

}

.single-new h3 {
  margin-bottom: 20px;
}