:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



@media only screen and (min-width:992px) and (max-width:1199px) {
  /* L */

  div {

    font-size: 35px;

  }

}







a {
  font-weight: 500;
  color: #242424;
  text-decoration: inherit;
}

a:hover {
  color: aqua;
}

body {
  margin: 2rem;
  padding: 2rem;
  display: flexbox;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  text-transform: capitalize;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: aqua;
  }

  button {
    background-color: #f9f9f9;
  }
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.users {
  text-align: center;
  max-width: 90vw;

}

.users li {
  list-style: none;
  margin: 1rem;

  flex-direction: column;
  text-align: center;
}

.users img {

  width: 450px;
  height: 350px;
  box-shadow: #000000;


}

.content {
  text-align: justify;
  position: relative;
  text-indent: 70px;
  margin-right: 20rem;
  margin-left: 20rem;
}

.description {
  margin-top: auto;
  margin-bottom: auto;
}